<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{sC.serverData.serverName}}
        <small>Manage server</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i>
                Home</a>
        </li>
        <li class="active">Servers</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <div class="col-lg-10 col-md-9 col-sm-9">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">
                                Server Status
                            </h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>Status</th>
                                        <td>{{sC.statusData.status}}</td>
                                    </tr>
                                    <tr>
                                        <th>Players</th>
                                        <td>{{sC.statusData.players}} / {{sC.statusData.max_players}}</td>
                                    </tr>
                                    <tr>
                                        <th>Ping</th>
                                        <td>{{sC.statusData.ping}}</td>
                                    </tr>
                                    <tr>
                                        <th>MOTD</th>
                                        <td>{{sC.statusData.description_raw.text}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer"></div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">
                                Linked information
                            </h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Login Name</th>
                                        <th>Minecraft Account Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{aC.accountData.firstName + ' ' + aC.accountData.lastName}}</td>
                                        <td>{{aC.accountData.username}}</td>
                                        <td>
                                            {{
                                                (aC.accountData.minecraftUsername) ?
                                                aC.accountData.minecraftUsername : 'Not linked'
                                            }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer"></div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">
                                Backups
                            </h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="backup in sC.detailedData.backups">
                                        <td>
                                            {{backup.name}}
                                        </td>
                                        <td>
                                            <button class="btn btn-success"
                                            ng-click="sC.download($index)">
                                                Download
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer"></div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">
                                Operators
                            </h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Minecraft Account Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="operator in sC.detailedData.operators">
                                        <td>{{operator.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer"></div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">
                                Banned Accounts/IPs
                            </h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Minecraft Account Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="banned in sC.detailedData.bannedUsers">
                                        <td>{{banned.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3">
            <button class="btn btn-success btn-block" ng-click="sC.start()"  ng-disabled="sC.statusData.status == 'Online'">Start</button>
            <button class="btn btn-warning btn-block" ng-click="sC.reboot()"  ng-disabled="sC.statusData.status == 'Offline'">Reboot</button>
            <button class="btn btn-danger btn-block" ng-click="sC.stop()" ng-disabled="sC.statusData.status == 'Offline'">Stop</button>
            <button class="btn btn-info btn-block" ng-click="sC.backup()"  ng-disabled="sC.statusData.status == 'Offline'">Backup</button>
            <button class="btn btn-info btn-block" ng-click="sC.status()">Status</button>
        </div>
    </div>
    <!-- /.row (main row) -->
