<div class="modal-header">
    <h3 class="modal-title">Change Password</h3>
</div>

<form name="changePasswordForm" ng-submit="cPMC.submit(formData)" class="form-horizontal">
    <div class="modal-body">
        <div class="container-fluid">
            <!-- Current Password -->
            <div class="form-group">
                <label class="control-label col-sm-2">Current Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" ng-model="formData.currentPassword" required/>
                </div>
            </div>

            <!-- New Password -->
            <div class="form-group" ng-class="{'has-error': !(formData.newPassword == formData.confirmNewPassword)}">
                <label class="control-label col-sm-2">New Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" ng-model="formData.newPassword" required/>
                </div>
            </div>

            <!-- Confirm New Password -->
            <div class="form-group" ng-class="{'has-error': !(formData.newPassword == formData.confirmNewPassword)}">
                <label class="control-label col-sm-2">Confirm New Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" ng-model="formData.confirmNewPassword" required/>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="cPMC.cancel()">Cancel</button>
        <button type="submit" class="btn btn-warning" ng-disabled="changePasswordForm.$invalid || !(formData.newPassword == formData.confirmNewPassword)">Change Password</button>
    </div>
</form>
